<div class="col-md-4 col-md-offset-4">
  <div class="edit-user-avatar text-center">
    <%= link_to "https://#{I18n.locale}.gravatar.com/emails/", target: '_blank' do %>
      <%= image_tag avatar_url(current_user, '150') %>
    <% end %>
    <h3><%= current_user.chinese_full_name %></h3>
  </div>

  <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :patch }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-group">
      <%= f.label :password %> <i>(<%= t('devise.information.leave_blank') %>)</i><br />
      <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label :current_password %> <i>(<%= t('devise.information.confirm_password') %>)</i><br />
      <%= f.password_field :current_password, autocomplete: 'off', class: 'form-control' %>
    </div>

    <div class="actions form-actions">
      <%= f.submit class: 'btn btn-primary form-control' %>
    </div>
  <% end %>
</div>
