<h1>New Event</h1>
<%= form_for @event do |f| %>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <br><br>

  <%= f.label :participates %>
  <%= collection_check_boxes(:users, :user_ids, colleagues, :id, :first_name, {include_hidden: false}) %>
  <br><br>

  <%= f.label :restaurant %>
  <%= f.select :restaurant_id, restaurants,
    {include_blank: 'select'}, {class: 'restaurant_select'} %>
  <br><br>

  <h3>dishes</h3>
  <div class="dish_check_box"></div>

  <br><br>

  <%= f.submit %>
<% end %>
