<div class="col-md-6 col-md-offset-3 <%= controller_name %>-<%= action_name %>">
  <h1>New Event</h1>

  <%= form_for @event do |f| %>
    <div class="field form-group">
      <%= f.label :date %>
      <%= f.date_field :date, class: 'form-control', required: true %>
    </div>

    <div class="field form-group participants">
      <%= f.label :participates %>
      <font class="require-participant-text"></font>
      <%= collection_check_boxes(:users, :user_ids, colleagues, :id, :first_name, {include_hidden: false}) do |b| %>
        <div class="row">
          <%= b.label class: 'checkbox-inline' do %>
            <div class="col-md-4">
              <%= b.check_box class: 'checkbox-inline' %>
              <%= b.label %>
            </div>       
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="field form-group">
      <%= f.label :restaurant %>
      <%= f.select :restaurant_id, restaurants,
        {include_blank: 'select'}, {class: 'restaurant_select form-control', required: true} %>
    </div>

    <div class="form-inline">
      <%= f.label :dishes %>
      <font class="require-dish-text"></font>
      <div class="dish-check-box"></div>
    </div>

    <br><br>

    <div class="actions form-actions">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'Cancel', events_path, class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
