<h1>New Event</h1>
<%= form_for @event do |f| %>
  <%= f.label :date %>
  <%= f.date_field :date %>

  <%= f.label :restaurant %>
  <%= f.select :restaurant_id, restaurants %>
 
  <%= f.fields_for :restaurant do |restaurant_form| %>
    <%= restaurant_form.label :dishes %>
    <%= restaurant_form.collection_check_boxes(:dish_ids, Dish.all, :id, :name, {include_hidden: false}) %>
  <% end %>

  <%= f.submit %>
<% end %>
