<div class="row">
  <div class="col-md-9">
    <h1>Restaurants</h1>
    <div id="restaurants">
      <table class="table table-hover" id="restaurant-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= div_for @restaurants do |restaurant| %>
            <%= render restaurant %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-3">
    <div class="flash"></div>
    <h2>New Restaurant</h2>
    <%= form_for @restaurant, remote: true do |f| %>
      <div class="field form-group">
        <%= f.select :restaurant_category_id,
          restaurant_categories, { include_blank: 'Category' }, { class: 'form-control', required: true } %>
      </div>

      <div class="field form-group">
        <%= f.text_field :name, { class: 'form-control', required: true, placeholder: 'name' } %>
      </div>

      <div class="field form-group">
        <%= f.text_field :address, { class: 'form-control', required: true, placeholder: 'address' } %>
      </div>

      <div class="field form-group">
        <%= f.telephone_field :phone_number, { class: 'form-control', required: true, placeholder: 'phone number' } %>
      </div>

      <div class="field form-group">
        <%= f.submit class: 'btn btn-primary form-control' %>
      </div>
    <% end %>
  </div>
</div>
