<ol class="breadcrumb">
  <li><%= link_to 'restaurants', restaurants_path %></li>
  <li class="active"><%= @restaurant.name %></li>
</ol>

<div class="flash"></div>
<h1><%= @restaurant.name %></h1>

<h2>New Dishes</h2>
<%= form_for @dish, remote: true do |f| %>
  <div class="form-inline">
    <div class="field form-group">
      <%= f.select :dish_category_id,
        dish_categories, { include_blank: 'category...' }, { class: 'form-control', required: true } %>
    </div>

    <div class="field form-group">
      <%= f.text_field :name,
        { class: 'form-control', placeholder: 'dish name', required: true} %>
    </div>

    <div class="field form-group">
      <%= f.number_field :price,
        { class: 'form-control', placeholder: 'price', required: true } %>
    </div>

    <div class="field form-group">
      <%= f.hidden_field(:restaurant_id, value: id_param) %>
      <%= f.submit class: 'btn btn-primary fomr-control' %>
    </div>
  </div>
<% end %>

<br>

<div class="row">
  <div class="col-lg-12">
    <h3>Menu</h3>
  </div>
</div>

<div class="row text-center dish-block">
  <%= div_for @dishes do |dish| %>
    <%= render dish %>
  <% end %>
</div>
