<ol class="breadcrumb">
  <li><%= link_to Restaurant.model_name.human, restaurants_path %></li>
  <li class="active"><%= @restaurant.name %></li>
</ol>

<div class="flash"></div>
<h1><%= @restaurant.name %></h1>

<h2><%= t("views.actions.new_dish") %></h2>
<%= form_for @dish, { multipart: true, remote: true } do |f| %>
  <div class="form-inline">
    <div class="field form-group">
      <%= f.select :dish_category_id,
        dish_categories, { include_blank: t("views.placeholder.dish.select_category") }, { class: 'form-control', required: true } %>
    </div>

    <div class="field form-group">
      <%= f.text_field :name,
        { class: 'form-control', placeholder: t("views.placeholder.dish.name", default: "Name"), required: true} %>
    </div>

    <div class="field form-group">
      <%= f.number_field :price,
        { class: 'form-control', placeholder: t("views.placeholder.dish.price", default: "Price"), required: true } %>
    </div>

    <div class="field form-group">
      <%= f.label t("views.placeholder.dish.upload") %>
      <%= f.file_field :image %>
    </div>

    <div class="field form-group">
      <%= f.hidden_field(:restaurant_id, value: id_param) %>
      <%= f.submit class: 'btn btn-primary fomr-control' %>
    </div>
  </div>
<% end %>

<br>

<div class="row">
  <div class="col-lg-12">
    <h3><%= t("views.content.menu") %></h3>
  </div>
</div>

<div class="row text-center dish-block">
  <%= div_for @dishes do |dish| %>
    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <% unless dish.dish_images.empty? %>
          <%= image_tag dish.dish_images.first.image.url %>
        <% else %>
          <img src="http://placehold.it/800x500" alt="">
        <% end %>
        <div class="caption">
          <h3><%= dish.name %></h3>
          <p>NTD <%= dish.price %></p>
        </div>
        <%= link_to dish, method: :delete, remote: true do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
    <%# <%= render dish %1> %>
  <% end %>
</div>
