<div class='flash'></div>
<h1><%= @restaurant.name %></h1>

<h2>New Dishes</h2>
<%= form_for @dish, remote: true do |f| %>
  <%= f.label :dish_category %>
  <%= f.select :dish_category_id,
    dish_categories %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.hidden_field(:restaurant_id, value: id_param) %>
  <%= f.submit %>
<% end %>

<br>

<div id='dishes'>
  <%= div_for @dishes do |dish| %>
    <%= render dish %>
  <% end %>
</div>
