<div class="flash"></div>
<h1><%= @restaurant.name %></h1>

<h2>New Dishes</h2>
<%= form_for @dish, remote: true do |f| %>
  <div class="form-inline">
    <div class="field form-group">
      <%= f.select :dish_category_id,
        dish_categories, { include_blank: 'category...' }, { class: 'form-control', required: true } %>
    </div>

    <div class="field form-group">
      <%= f.text_field :name,
        { class: 'form-control', placeholder: 'dish name', required: true} %>
    </div>

    <div class="field form-group">
      <%= f.number_field :price,
        { class: 'form-control', placeholder: 'price', required: true } %>
    </div>

    <div class="field form-group">
      <%= f.hidden_field(:restaurant_id, value: id_param) %>
      <%= f.submit class: 'btn btn-primary fomr-control' %>
    </div>
  </div>
<% end %>

<br>

<div id="dishes">
  <table class="table table-hover" id="dish-table">
    <thead>
      <tr>
        <th>Image</th>
        <th>type</th>
        <th>name</th>
        <th>price</th>
      </tr>
    </thead>
    <tbody>
      <%= div_for @dishes do |dish| %>
        <%= render dish %>
      <% end %>
    </tbody>
  </table>
</div>
