<!DOCTYPE html>
<html>
<head>
  <title>Lunch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <%= render 'shared/navbar' %>
  <% else %>
    <%= render 'shared/landing_navbar' %>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

  <% if params[:controller] == 'landing' %>
  <% else %>
    <%= render 'shared/footer' %>
  <% end %>
</body>
</html>
